:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b395d467602365.5b3f4018ccf1d.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}